{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
background-image:url('https://cdn.shopify.com/s/files/1/0701/3518/5664/files/Log_In_BG_Image_8c52b153-5bc5-4364-8dfc-624d1a1fba38.jpg?v=1722851443');
width:100%;
height:100vh;
background-size:cover;
}

@media screen and (min-width: 750px) {
.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}

<div class="customer register section-{{ section.id }}-padding d-flex a-center j-center">
  <div class="register_box">

    <div>
      <svg style="display: none">
        <symbol id="icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2" />
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7" />
          <path
            d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z"
            fill="white" />
          <path
            d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
            fill="white" stroke="#EB001B" stroke-width="0.7">
        </symbol>
      </svg>
      <h1>
        Welcome to Everlast Wholesale Application
      </h1>
    </div>
    {%- form 'create_customer', novalidate: 'novalidate' -%}
    {%- if form.errors -%}
    <h2 class="form__message" tabindex="-1" autofocus>
      <svg aria-hidden="true" focusable="false">
        <use href="#icon-error" />
      </svg>
      {{ 'templates.contact.form.error_heading' | t }}
    </h2>
    <ul>
      {%- for field in form.errors -%}
      <li>
        {%- if field == 'form' -%}
        {{ form.errors.messages[field] }}
        {%- else -%}
        <a href="#RegisterForm-{{ field }}">
          {{ form.errors.translated_fields[field] | capitalize }}
          {{ form.errors.messages[field] }}
        </a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
    <h5>Contact Info</h5>
    <div class="d-flex g-10">
      <div class="field">
        <input type="text" name="customer[first_name]" id="RegisterForm-FirstName" {% if form.first_name %}
          value="{{ form.first_name }}" {% endif %} autocomplete="given-name"
          placeholder="Company Name">
       
      </div>

      <div class="field">
        <input type="text" name="customer[Number]" id="RegisterForm-Number" {% if form.last_name
          %}value="{{ form.last_name }}" {% endif %} autocomplete="family-name" placeholder="Contact Name">
      </div>
    </div>
    <div class="d-flex g-10">
      <div class="field">
        <input type="text" name="customer[Number]" id="RegisterForm-Number" {% if form.last_name
          %}value="{{ form.last_name }}" {% endif %} autocomplete="family-name" placeholder="Contact Name">

      </div>
      <div class="field">
        <input type="email" name="customer[email]" id="RegisterForm-email" {% if form.email %} value="{{ form.email }}"
          {% endif %} spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" {% if
          form.errors contains 'email' %} aria-invalid="true" aria-describedby="RegisterForm-email-error" {% endif %}
          placeholder="Email Address">
      </div>
      {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        <svg aria-hidden="true" focusable="false">
          <use href="#icon-error" />
        </svg>
        {{ form.errors.translated_fields.email | capitalize }}
        {{ form.errors.messages.email }}.
      </span>
      {%- endif -%}
    </div>
      <div class="field">
       <input type="text" name="address[address1]" id="address" placeholder="Address" class="address"/>
      </div>

    <div class="register-document mt-30 ">
      <h5 class="mb-10">Upload your document</h5  >
      <select class="w-100 mb-10">
        <option value="Select which document do you submit">Select which document do you submit</option>
        <option value="Select which document do you submit1">Select which document do you submit 1</option>
        <option value="Select which document do you submit2">Select which document do you submit 2</option>
        <option value="Select which document do you submit3">Select which document do you submit 3</option>
        <option value="Select which document do you submit4">Select which document do you submit 4</option>
        <option value="Select which document do you submit5">Select which document do you submit 5</option>
      </select>
    </div>
    <div class="file-upload-container d-flex g-10 j-center" id="file-upload-container">
      <div>
        {%  render 'file' %}
      </div>
      <div>
        <h4>Drag and Drop files here</h4>
        <h6>File(s) size limit is 20MB.</h6>
      </div>
        <div>
          <input type="file" id="file-input" multiple>
        <label for="file-input" class="file-upload-button">Choose Files</label>
        </div>
        <div>
          <span id="file-parth"></span>
        </div>
    </div>
    <div class="accept-policy d-flex mt-15 mb-30 g-10 a-center">
      <input type="checkbox" id="accept-policy">
      <p>Approval of wholesale accounts is at the sole discretion of Everlast. You, as a wholesale customer (“I” or the “Customer”),  agree to the following terms and conditions (“Terms”):</p>
    </div>
      <div class="d-flex g-10 j-end">
        <button>
         RESET
        </button>
        <button>
          SUBMIT
        </button>
      </div>
    {%- endform -%}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const fileInput = document.getElementById('file-input');
    const file_parth = document.getElementById('file-parth');
    const fileUploadContainer = document.getElementById('file-upload-container');

    fileUploadContainer.addEventListener('click', () => {
        fileInput.click();
    });

    fileUploadContainer.addEventListener('dragover', (event) => {
        event.preventDefault();
        fileUploadContainer.style.borderColor = '#006bb3';
    });

    fileUploadContainer.addEventListener('dragleave', () => {
        fileUploadContainer.style.borderColor = '#0095ff';
    });

    fileUploadContainer.addEventListener('drop', (event) => {
        event.preventDefault();
        fileInput.files = event.dataTransfer.files;
          (fileInput.files);
    });

    fileInput.addEventListener('change', () => {
      
        handleFiles(fileInput.files);
    });

    function handleFiles(files) {
        for (let i = 0; i < files.length; i++) {
            file_parth.innerHTML = files[i].name;
        }
    }
});

</script>

{% schema %}
{
"name": "t:sections.main-register.name",
"settings": [
{
"type": "header",
"content": "t:sections.all.padding.section_padding_heading"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "t:sections.all.padding.padding_bottom",
"default": 36
}
]
}
{% endschema %}